<!doctype html>
<html lang="en">
<head>
  <title>Faceki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/responsive.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="mb-body">
<div class="desktopshow hidden-xs">
  <!--header-->
  <header class="bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-xs-6 hidden-xs">
            <div class="selfie-text">
              <h1>Selfie</h1>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="text-right">
              <a class="navbar-brand" href="/">
                <img src="image/logo.png" alt="Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!--header-end-->

<div class="capturediv">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="capture-screen text-center">
          <h2>Fit your face in the middle</h2>
          <img src="image/capture-screen.png" alt="Capture Screen" class="img-fluid hidden-xs">
          <div class="facescane">
            <video id="my_camera" playsinline autoplay></video>
          </div>
          <div class="cemra">
            <img src="image/cemra.png" alt="cemra">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="mb-body2 hidden-lg hidden-md hidden-sm hidden-xl">
  <!--header-->
  <header class="bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="selfie-text">
              <h1>Selfie</h1>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="text-right">
              <a class="navbar-brand" href="templates/views/index.hbs">
                <img src="image/logo.png" alt="Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!--header-end-->

<div class="face-scane">
  <div class="container-fluid padding">
    <div class="row">
      <div class="col-sm-12 col-xs-12 padding">
        <div class="facescane">
           <img src="image/capture-scane.png" alt="face-scane">
        </div>
        <div class="cemra2">
             <img src="image/cemra.png" alt="face-scane">
             <h2>Fit your face in the middle</h2>
           </div>
      </div>
    </div>
  </div>
</div>
</div>

  <!--Script-Start-->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!--Script-End-->
</body>

</html>
