<!doctype html>
<html lang="en">
<head>
  <title>Faceki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/responsive.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="mb-body">
  <!--header-->
  <header class="bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="text-right">
              <a class="navbar-brand" href="/">
                <img src="/image/logo.png" alt="Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!--header-end-->
<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="user-signup">
          <a href="javascript:void(0)" onclick="getToken('af7d4790-04a9-11ec-aecf-1dca4d5eaaf0','varun@inagrab.com','signup');">
           <p>Don't have a FACEKI account?</p>
        <!--    <div class="signup-btn">
             <div class="row">
               <div class="col-sm-6 col-xs-6">
                 <img src="/image/id-logo.png" alt="logo">
               </div>
               <div class="col-sm-6 col-xs-6">
                 <h1>Sing up</h1>
               </div>
             </div>
           </div> -->
         </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="biometric-authentication">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="biometric-login">
          <a href="login">
           <img src="/image/face-scane.png" alt="face-scane">
           <h1>Biometric Authentication</h1>
           <h2>Customer Onboarding & Sign-in</h2>
         </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="biometric-authentication id-card">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="biometric-login">
          <a href="kyc">
           <img src="/image/id-card.png" alt="Id-scane">
           <h1>Digital KYC</h1>
           <h2>ID Verification</h2>
         </a>
        </div>
      </div>
    </div>
  </div>
</div>


  <!--Script-Start-->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/faceki-startup.js"></script>
  <!--Script-End-->
</body>

</html>
