<!doctype html>
<html lang="en">
<head>
  <title>Faceki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/responsive.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="mb-body">
  <!--header-->
  <header class="bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="selfie-text result-title">
              <h1>KYC Result</h1>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="text-right">
              <a class="navbar-brand" href="/">
                <img src="image/logo.png" alt="Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!--header-end-->

<div class="kyc-result">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <div class="id-picture">
          <div id="results"></div>
          <!-- <img src="image/id-picture.png" alt="id-picture"> -->
          <div class="title">ID Card Picture</div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6" >
        <div class="id-picture">
          <div id="result-selfie"></div>
          <!-- <img src="image/id-picture.png" alt="id-picture"> -->
          <div class="title">Selfie Picture</div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6" style="display: none;">
        <div class="id-picture">
          <div id="result-card"></div>
          <!-- <img src="image/id-picture.png" alt="id-picture"> -->
          <div class="title">Selfie Picture</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="userdetail">
          <div class="table-responsive">
            <table id="myTable" class="table">
              <tbody>
                <tr>
                  <td class="text-left">Document Authentication</td>
                  <td class="showMe text-right"><img src="image/close.png" alt="close"></td>
                  <td class="hideMe text-right" style="display: none;"><img src="image/checked.png" alt="checked"></td>
                </tr>
                <tr>
                  <td class="text-left">Liveness Test</td>
                  <td class="text-right"><img src="image/checked.png" alt="checked"></td>
                </tr>
                <tr>
                  <td class="text-left">Face Match Score</td>
                  <td class="text-right"><span id="score-val">100%</span></td>
                </tr>
                 <tr>
                  <td class="text-left">Document Validity</td>
                  <td class="text-right hide-me"><span id="expired"></span><img src="image/close.png" alt="checked"></td>
                   <td class="show-me text-right" style="display: none;"><span id="expired"></span><img src="image/checked.png" alt="checked"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="donebtn">
          <a href="/"><button type="button" class="btn btn-warning">Done</button></a>
        </div>
  </div>
</div>



  <!--Script-Start-->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">
    let score = 0;
    let face_error_msg = '';

    if(localStorage.getItem('face-error') && localStorage.getItem('face-error')==1){
        debugger;
        score = 0;
        face_error_msg = localStorage.getItem('face-error-msg')
    }else{
        debugger;
        score = localStorage.getItem('score');
    }


    let id_card_image = localStorage.getItem('id_card_image');

    document.getElementById('results').innerHTML =
    '<img width="70%" src="'+id_card_image+'"/>';

    let selfie_image = localStorage.getItem('selfie_image');

    document.getElementById('result-selfie').innerHTML =
    '<img width="70%" src="'+selfie_image+'"/>';

    let id_card_back_image = localStorage.getItem('id_card_back_image');

    document.getElementById('result-card').innerHTML =
    '<img width="70%" src="'+id_card_back_image+'"/>';

      const toTitleCase = (phrase) => {
      return phrase
      .toLowerCase()
      .split(' ')
      .map(word => word.charAt(0).toUpperCase() + word.slice(1))
      .join(' ');
    };

    var retrievedObject = localStorage.getItem('response_data');

    result_data = JSON.parse(retrievedObject);

    if (result_data.verification.passed) { 
      $(".hideMe").show();
      $(".showMe").hide();
    }else{
      $(".hideMe").hide();
      $(".showMe").show();        
    }

    var property = result_data.result;

    for (const [key, value] of Object.entries(property)) {

      if (key == "expiry_day" || key == "expiry_month" || key == "expiry_year" || key == "optionalData2" || key == "documentType" || key == "documentSide" || key == "issuerOrg_iso2" || key == "issuerOrg_iso3" || key == "nationality_iso2" || key == "nationality_iso3" || key == "internalId") {
        continue;
      }   

      if (key == "daysToExpiry" && parseInt(value) >= 0 ) {
       $(".hide-me").show();
        $(".show-me").hide();
      }else{
         $(".hide-me").hide();
        $(".show-me").show();
        
      }

      if (key == "fullName" ) {
        let name_value = value.replace(/( [^ ]*) /g,'$1<br>');
        $('#myTable tr:last').after('<tr><td class="text-left">'+toTitleCase(key.split('_').join(' '))+'</td><td class="text-right">'+name_value+'</td></tr>');
      }else{
        $('#myTable tr:last').after('<tr><td class="text-left">'+toTitleCase(key.split('_').join(' '))+'</td><td class="text-right">'+value+'</td></tr>');
      }

    }

    if (face_error_msg.length>0) {
    debugger;
      // window.location.replace('/faceki-app');
       $("#score-val").html(face_error_msg);
       localStorage.removeItem("face-error");
       localStorage.removeItem("face-error-msg");
       localStorage.removeItem("score");
    }else{
    debugger;
         var percentToGet = parseFloat(score);
      var percent = percentToGet*100;

      $("#score-val").html(percent+'%');
      localStorage.removeItem("score");
    }

    function WordCount(str) { 
  return str.split(" ").length;
}
</script>
  <!--Script-End-->
</body>

</html>
