<!doctype html>
<html lang="en">
<head>
  <title>Faceki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/responsive.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="mb-body">
  <!--header-->
  <header class="bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="selfie-text result-title">
              <h1>KYC Result</h1>
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="text-right">
              <a class="navbar-brand" href="/">
                <img src="image/logo.png" alt="Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
  <!--header-end-->

<div class="kyc-result">
  <div class="container">
    <div class="row">
    <div class="col-sm-3 col-xs-3">
    </div>
    <div class="col-sm-6 col-xs-6">
      <div class="id-picture">
        <div id="result-selfie"></div>
        <img src="image/correct.png" alt="success">
      </div>
    </div>

    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="userdetail">
          <div class="table-responsive">
            <table id="myTable" class="table">
              <tbody>

                <tr>
                  <td class="text-left" style="text-align: center;">SUCCESSFUL</td>
                </tr>

                <tr>
                  <td class="text-left" style="text-align: center;">Your ID is successfully verified</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="donebtn">
          <a href="/"><button type="button" class="btn btn-warning">Done</button></a>
        </div>
  </div>
</div>

<!--Script-Start-->
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    
</script>
<!--Script-End-->
</body>

</html>
