<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="id varification app" />
    <title>Faceki</title>
    <!-- Favicon -->
    <!--  Google font cdn link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!--  all css files  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

</head>


<body>

    <!-- faceki section start -->
    <section style="height: 100vh;" class="faceki-section d-flex flex-wrap align-items-center justify-content-center w-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-lg-6 col-xl-5 mx-auto">
                    <div class="faceki-card faceki-card-dark success__card">
                       <div class="success__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96">
                            <g id="tick" transform="translate(2.5 2.5)">
                              <path id="Path_64" data-name="Path 64" d="M45.5,0A45.5,45.5,0,1,1,0,45.5H0A45.37,45.37,0,0,1,45.241,0Z" transform="translate(0 0)" fill="none" stroke="#9ea0ae" stroke-width="5"/>
                              <path id="Path_65" data-name="Path 65" d="M132.437,111.207l-32.315,32.315-18.1-17.967,7.368-7.239,10.729,10.6,24.948-24.947Z" transform="translate(-61.731 -78.245)" fill="#9ea0ae"/>
                            </g>
                          </svg>
                       </div>
                          
                        <h2 class="faceki-card__title">SUCCESSFUL</h2>
                        <span class="faceki-card__sub-title">Your Identity successfully verified</span>
                        <span class="extra-information">Extra information from dash</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faceki section end -->

    <!--  all js files -->
    <script src="/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>