/* screen - faceki-sign-in-complete */

.border-class-1 {
  border: 1px solid var(--ebony-clay);
}
.faceki-sign-in-complete {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 823px;
  min-width: 414px;
  position: relative;
  width: 100%;
}
.faceki-sign-in-complete .balance-C61RwL {
  background-color: transparent;
  height: 68px;
  left: calc(50.00% - 140px);
  position: absolute;
  top: 165px;
  width: 280px;
}
.faceki-sign-in-complete .bg-C61RwL {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.faceki-sign-in-complete .frame-jQ4qbJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 35px;
}
.faceki-sign-in-complete .group-50-xbgdn2 {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 9px;
}
.faceki-sign-in-complete .group-51-xbgdn2 {
  background-color: transparent;
  bottom: 0px;
  height: 9px;
  left: 0px;
  position: absolute;
  width: 9px;
}
.faceki-sign-in-complete .group-52-xbgdn2 {
  background-color: transparent;
  bottom: 0px;
  height: 9px;
  position: absolute;
  right: 0px;
  width: 9px;
}
.faceki-sign-in-complete .group-53-xbgdn2 {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 9px;
}
.faceki-sign-in-complete .group-83-C61RwL {
  background-color: transparent;
  height: 35px;
  position: absolute;
  right: 26px;
  top: 32px;
  width: 140px;
}
.faceki-sign-in-complete .group-85-C61RwL {
  background-color: transparent;
  height: 70px;
  left: calc(49.21% - 190px);
  pointer-events: auto;
  position: absolute;
  top: 608px;
  transition: all 0.2s ease;
  width: 386px;
}
.faceki-sign-in-complete .group-85-C61RwL:hover {

transform: scale(1.1);
}
.faceki-sign-in-complete .path-103-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 7px;
  position: absolute;
  top: 4px;
  width: 23px;
}
.faceki-sign-in-complete .path-104-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: calc(22.01% - 6px);
  position: absolute;
  top: 4px;
  width: 28px;
}
.faceki-sign-in-complete .path-105-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: calc(45.99% - 12px);
  position: absolute;
  top: 3px;
  width: 25px;
}
.faceki-sign-in-complete .path-106-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 7px);
  position: absolute;
  right: calc(32.23% - 6px);
  top: 4px;
  width: 19px;
}
.faceki-sign-in-complete .path-107-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 10px;
  top: 4px;
  width: 24px;
}
.faceki-sign-in-complete .path-108-a4BkZO {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}
.faceki-sign-in-complete .path-109-oPVaBz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}
.faceki-sign-in-complete .path-110-jCJyme {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}
.faceki-sign-in-complete .path-111-G3xBub {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}
.faceki-sign-in-complete .path-112-jQ4qbJ {
  background-color: transparent;
  height: calc(100.00% - 7px);
  position: absolute;
  right: 0px;
  top: 4px;
  width: 7px;
}
.faceki-sign-in-complete .tick-C61RwL {
  background-color: transparent;
  height: 157px;
  left: calc(49.79% - 78px);
  position: absolute;
  top: 331px;
  width: 157px;
}
.faceki-sign-in-complete .total-balance-76THyG {
  background-color: transparent;
  color: var(--santas-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  height: 70px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 11.76%;
  white-space: nowrap;
  width: 100.71%;
}
.lato-normal-ebony-clay-18px {
  color: var(--ebony-clay);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-light-santas-gray-25px {
  color: var(--santas-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}
.roboto-normal-santas-gray-18px {
  color: var(--santas-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-santas-gray-25px {
  color: var(--santas-gray);
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --cultured-pearl: rgba(247,245,245,1.0);
  --ebony-clay: rgba(40,42,59,1.0);
  --santas-gray: rgba(158,160,174,1.0);
  --white: rgba(255,255,255,1.0);
}