@import url("@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');");

*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    background-color: #464C5F;
}
.desktopshow{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    background-color: #464C5F;
    height: 100vh;
    width: 100%;
}
.mb-body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    background-color: #fff;
}
.mb-body2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    background-color: #232b41;
}
.mb-body3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #111;
    background-color: #464C5F;
}
.bg-dark {
    background-color: #3D4162!important;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 99;
}
.selfie-text h1 {
    font-size: 34px;
    color: #9EA0AE;
    line-height: 45px;
    text-align: left;
    margin-top: 10px;
}
.navbar-brand {
    float: right;
    line-height: 45px;
    height: auto;
}
.capture-screen h2 {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 35px;
}
/*.cemra {
    margin-top: 30px;
    margin-bottom: 30px;
}*/
.capture-screen img {
    width: 300px;
}
.cemra img {
    width: 70px;
}
/*********Mobile-view******/
.biometric-login{
    background-color: #172032;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.biometric-login a{
    text-decoration: none;
}
.biometric-login h1{
    color: #F8B427;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.biometric-login h2 {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}
.id-card .biometric-login {
    margin-bottom: 30px;
    margin-top: 0;
}
.facescane {
    text-align: center;
}
.cemra2 h2 {
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.kyc-section {
    text-align: center;
    padding-top: 50px;
}
.kyc-section a{
    text-decoration: none;
}
.kyc-section p {
    color: #9EA0AE;
    font-size: 18px;
    padding-bottom: 50px;
}
.idcard {
    max-width: 400px;
    margin: 0 auto;
    background: #172032;
    border-radius: 4px;
    padding: 7px;
}

.idcard img {
    float: left;
}
.idcard h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    color: #fff;
    text-align: right;
    padding-top: 7px;
}
.idfornt-scane {
    text-align: center;
}
.scane-cemra {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.idfornt-scane h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 40px;
}
.idfornt-scane p {
    color: #fff;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.scane-cemra img{
    margin-left: 25px;
}
.flip-img {
    margin-left: 25px;
}
.flip-camera {
    display: block;
    position: relative;
    bottom: 20px;
    left: 70px;
    font-size: 11px;
    color: #fff;
}
.id-picture img {
    max-width: 100%;
}
.kyc-result {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.id-picture .title {
    color: #A7A8AF;
    font-size: 15px;
    line-height: 43px;
    letter-spacing: .45px;
}
.userdetail {
    padding-top: 30px;
    padding-bottom: 30px;
}
.userdetail .table-responsive {
    border: none;
}
.userdetail .table>tbody>tr>td{
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
    color: #A7A8AF;
    letter-spacing: .45px;
}
.userdetail .table>tbody>tr>td span{
    font-size: 14px;
    color: #686975;
    letter-spacing: .45px;
    margin-right: 10px;
}
.donebtn {
    /*position: absolute;*/
    left: 0;
    right: 0;
    bottom: 40px;
}
.btn-warning {
    color: #282A3B;
    background-color: #F6B900;
    border-color: #F6B900;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 35px;
}
.btn-warning:hover{
    color: #282A3B;
    background-color: #F6B900;
    border-color: #F6B900;
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover{
    color: #282A3B;
    background-color: #F6B900;
    border-color: #F6B900;
}
.signup {
    text-align: center;
    padding-top: 30px;
}
.signup p {
    color: #9EA0AE;
    font-size: 18px;
    padding-bottom: 40px;
    padding-top: 60px;
}
.signup a{
    text-decoration: none;
}
.signup-btn {
    max-width: 400px;
    margin: 0 auto;
    background: #172032;
    border-radius: 4px;
    padding: 7px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.signup-btn img {
    float: left;
}
.signup-btn h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    color: #fff;
    text-align: right;
    padding-top: 7px;
}
.signrequest {
    margin-top: 30px;
}
.id-front a {
    text-decoration: none;
}
.login p::before,
.login p::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #9EA0AE;
    width: 48rem;
    margin: -4px 3rem;
    transform: translateY(-1rem);
}
.user-signup img{
    max-width: 329px;
    margin-bottom: 30px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}
.user-signup img:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.newsignIn h4 {
    color: #9EA0AE;
    font-size: 21px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.newsignIn h4::before,
.newsignIn h4::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #9EA0AE;
    width: 48rem;
    margin: -4px 10rem;
    transform: translateY(-1rem);
}
.newsignIn img{
    max-width: 329px;
    margin: 0 auto;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}
.newsignIn img:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
img.signBtn{
    margin-top: 30px;
    margin-bottom: 30px;
}
.front-camera {
    width: 330px;
    height: 330px;
    position: relative;
    margin: 0 auto;
   background: none;
}
.borderLeft {
    border-left: 5px solid #f8b427;
    position: absolute;
    bottom: 60px;
    height: 50px;
}
.borderbottom {
    border-bottom: 5px solid #f8b427;
    position: absolute;
    bottom: 60px;
    height: 50px;
    z-index: 99999;
    width: 50px;
}
.borderLeft2 {
    border-left: 5px solid #f8b427;
    position: absolute;
    top: 60px;
    height: 50px;
}
.bordertop {
    border-top: 5px solid #f8b427;
    position: absolute;
    top: 60px;
    height: 50px;
    z-index: 99999;
    width: 50px;
}
.borderright {
    border-right: 5px solid #f8b427;
    position: absolute;
    bottom: 60px;
    height: 50px;
    right: 0;
}
.borderbottom2 {
    border-bottom: 5px solid #f8b427;
    position: absolute;
    bottom: 60px;
    height: 50px;
    z-index: 99999;
    width: 50px;
    right: 0;
}
.bordertop2 {
    border-top: 5px solid #f8b427;
    position: absolute;
    top: 59px;
    height: 50px;
    z-index: 99999;
    width: 50px;
    right: 0;
}
.borderright2 {
    border-right: 5px solid #f8b427;
    position: absolute;
    top: 60px;
    height: 50px;
    right: 0;
}
.video-selfie {
    object-fit: fill;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border-radius: 50%;
    z-index: 2;
}

.video-idcard
{
    margin-top: 0px;
    object-fit: fill;
}

/*---Mobile----*/

/*-----18-03-21-----*/
.top_strip{
    width: 101%;
    height: 60px;
    background-color: #464C5F;
    position: absolute;
    top: -1px;
    left: -1px;
    outline: none;
}
.bot_strip{
    width: 101%;
    height: 60px;
    background-color: #464C5F;
    position: absolute;
    bottom: -1px;
    left: -1px;
    outline: none;
}

@media(max-width:370px){
    .col-xs-12 {
        width: 100%;
        padding: 0px !important;
        margin: 0px !important;
    }
}
/* CSS by Sohrab */


@media (max-width: 767px){
.selfie-page .videoBox video{
    width: 100%;
    height: 600px;
    top: 0;
    object-fit: cover;
    border-radius: 0px;
    position: relative;
}
.background-overlay{
    background: url('../image/bgoverlay.jpg');
    background-position: center;
    background-size: cover;
    min-height: 640px;
}
.forColors{
    position: relative;
    top: 40.5px;
    z-index: 999;
}
.forColors img{
    height: 53px;
    width: 100%;
}
.fitFace{
    color: #fff;
    text-align: center;
    padding-top: 0px;
    letter-spacing: 0.5px;
    position: relative;
    top: 95px;
}
.newsignIn h4::before, .newsignIn h4::after{
    width: 12rem;
    margin: -4px 2rem;
}
} 

@media screen and (min-height: 680px) and (max-height: 730px) {
.forColors img{
    height: 92px;
}
.facescane_my video{
    height: 710px;
}
.mid_cl .img_mob{
    max-height: 532px;
}
}